In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np

# Merge Datasets Example

In [29]:
dfMetaData = pd.read_csv('../data/movies_metadata.csv')
dfRatings = pd.read_csv("../data/ratings.csv")

In [30]:
dfMetaData[dfMetaData['vote_count'] > 2000][['title', 'vote_average', 'vote_count']].sort_values('vote_average', ascending=False).head(10)

                                 title  vote_average  vote_count
314           The Shawshank Redemption           8.5      8358.0
834                      The Godfather           8.5      6024.0
2211                 Life Is Beautiful           8.3      3643.0
5481                     Spirited Away           8.3      3968.0
1152   One Flew Over the Cuckoo's Nest           8.3      3001.0
1176                            Psycho           8.3      2405.0
2843                        Fight Club           8.3      9678.0
1178            The Godfather: Part II           8.3      3418.0
12481                  The Dark Knight           8.3     12269.0
292                       Pulp Fiction           8.3      8670.0

In [31]:
dfRatings.rename(columns={'movieId': 'id'}, inplace=True)

In [32]:
budget = pd.DataFrame(dfMetaData[['id','budget']])

In [33]:
# ensure correct format
budget['id'] = budget['id'].astype(str)
dfRatings['id'] = dfRatings['id'].astype(str)

In [37]:
mergedRatings = dfRatings.merge(budget,on='id',how='left')

In [38]:
mergedRatings.head(10)

   userId    id  rating   timestamp    budget
0       1   110     1.0  1425941529         0
1       1   147     4.5  1425942435         0
2       1   858     5.0  1425941523  21000000
3       1  1221     5.0  1425941546       NaN
4       1  1246     5.0  1425941556  24000000
5       1  1968     4.0  1425942148         0
6       1  2762     4.5  1425941300         0
7       1  2918     5.0  1425941593       NaN
8       1  2959     4.0  1425941601  35000000
9       1  4226     4.0  1425942228   5000000

In [41]:
# 1221 is NaN in mergedRatings dataset
dfMetaData[dfMetaData['id'] == '1221']

Empty DataFrame
Columns: [adult, belongs_to_collection, budget, genres, homepage, id, imdb_id, original_language, original_title, overview, popularity, poster_path, production_companies, production_countries, release_date, revenue, runtime, spoken_languages, status, tagline, title, video, vote_average, vote_count]
Index: []

[0 rows x 24 columns]

It seems like a lot of movies people have rated don't have metadata info :/